:root {
    --primary-bg: #1f40e6;
    --primary-color: #1f40e6;
    --light-bg-intro: #e2e2e2;
}

body {
    font-family: "DM Sans";
}
.body{
    height: calc(100vh - 75.42px);
    overflow: hidden;
}
.body-intro {
    background-color: rgba(255, 255, 255, 0);
    background-image: radial-gradient(circle at right top, #f2f7fc 48%, #ffffff 25%);
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px 0px 0px 0px;
    border-color: #e2e2e2;
    border-style: solid;
}

.body-intro img {
    position: absolute;
    width: 44%;
    bottom: -4%;
    right: 4%;
}
nav {
    padding: 12px 24px;
}
.main{
    height: calc(100vh - 75.42px);
    overflow-y: hidden;
}
.table{
    height: calc(100vh - 35px - 95px - 75.42px);
    background-color: #f3f9fa;
    padding-bottom: 20px;
    display: flex;
    overflow-y: scroll;
}
.bar1,
.bar2,
.bar3{
    transition: all 300ms ease-in-out;
}
.bar_1{
    transform: rotate(45deg);
    transition: all 300ms ease-in-out;
}
.bar_2{
    display: none;
}
.bar_3{
    transform: rotate(-45deg);
    transition: all 300ms ease-in-out;
}

.sort-btn{
    position: absolute;
    top: 12px;
    right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.sort-btn span{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    animation: radiate 1200ms infinite linear;
}
.show{
    display: block;
}
@keyframes radiate{
    from{
        width: 32px;
        height: 32px;
        border: 2px solid var(--primary-bg);
    }to{
        width: 64px;
        height: 64px;
        border: transparent;
    }
}

@media screen and (max-width: 400px){
    .table{
        height: calc(100vh - 35px - 76px - 112px - 76px - 75.42px);
        background-color: #f3f9fa;
        padding-bottom: 20px;
        display: flex;
        overflow-y: scroll;
    }
}